body{
    margin: 0 auto;
    padding: 0px;

}

.conteiner{
    height: auto;
    margin: 0 auto;
    padding: 0px;
    background-image: url(f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.hidden{
    overflow: hidden;
    
}


