body{
    margin: 0 auto;
    padding: 0px;

}

.conteiner{
    margin: 0 auto;
    padding: 0px;
}
.head{
    margin: 0 auto;
    padding: 0px;
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.blocConteiner{
    max-width: 1024px;
    min-width: 1024px;
    margin: 0 auto;
    padding: 0px;
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
   
 
}
.imgHead{
    margin: 0 auto;
    padding: 0px;
    background-color: rgb(217, 255, 0);
    width: auto;
    height: auto;
    float: left;
}
.imgHead img{
    height: 100px;
    width: 100px;
}
.imgCompra{
    margin: 0 auto;
    padding: 0px;
    background-color: rgb(217, 255, 0);
    width: 50px;
    height: 50px;
    float: right;
}
.bloque1{
    margin: 0 auto;
    padding: 0px;
    width: auto;
    height: auto;
    max-width: 1024px;
    min-width: 1024px;
    height: 500px;
    background-color: red;

}
